/* LogoutForm.module.css */

.logoutButton {
  /* display: inline-block; */
  background: #e53e3e;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.logoutButton:hover {
  background: #c53030;
  transform: scale(1.05);
}

.logoutButton:active {
  background: #9b2c2c;
  transform: scale(0.95);
}
